@model SGM.Models.Observacion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Observacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirmwareVersion" class="control-label"></label>
                <input asp-for="FirmwareVersion" class="form-control" />
                <span asp-validation-for="FirmwareVersion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grabador" class="control-label"></label>
                <input asp-for="Grabador" class="form-control" />
                <span asp-validation-for="Grabador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumSerieGrabador" class="control-label"></label>
                <input asp-for="NumSerieGrabador" class="form-control" />
                <span asp-validation-for="NumSerieGrabador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amp" class="control-label"></label>
                <input asp-for="Amp" class="form-control" />
                <span asp-validation-for="Amp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bpm" class="control-label"></label>
                <input asp-for="Bpm" class="form-control" />
                <span asp-validation-for="Bpm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Simulador" class="control-label"></label>
                <input asp-for="Simulador" class="form-control" />
                <span asp-validation-for="Simulador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumSerieSimulador" class="control-label"></label>
                <input asp-for="NumSerieSimulador" class="form-control" />
                <span asp-validation-for="NumSerieSimulador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoftAnalisis" class="control-label"></label>
                <input asp-for="SoftAnalisis" class="form-control" />
                <span asp-validation-for="SoftAnalisis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
